@media all and (max-width: 768px) {
  .description__section .computer__anim {
    display: none; }
  .description__section .container__description {
    width: 103.9604vmin;
    height: 101.13154vmin; }
    .description__section .container__description .product__description .product__details {
      font-size: 7vmin; }
      .description__section .container__description .product__description .product__details .details__scroll {
        font-size: 7.5vmin; } }

@media all and (orientation: landscape) and (max-width: 768px) {
  .arrow__description {
    display: none; }
  .description__section .container__description {
    height: 103.9604vmin; } }

@media all and (max-width: 500px) {
  .ch__application {
    height: 175vh;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .ch__application .choose-options {
      display: block; }
    .ch__application .select__container {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      border-right: none; }
      .ch__application .select__container fieldset {
        width: 70%; }
        .ch__application .select__container fieldset label {
          font-size: 7vmin;
          display: block;
          padding-top: 3vmin; }
        .ch__application .select__container fieldset .select__wrapper select {
          font-size: 7.5vmin; }
      .ch__application .select__container .submit {
        font-size: 8.5vmin;
        letter-spacing: 3px; }
    .ch__application .product__container {
      display: none;
      position: fixed;
      width: 100vw;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 1s linear;
      height: 100vh; }
      .ch__application .product__container .close__cross {
        display: block; }
      .ch__application .product__container .product__display {
        width: 65%; } }

@media all and (min-width: 499px) and (max-width: 1025px) {
  .ch__application {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .ch__application .choose-options {
      display: block; }
    .ch__application .select__container {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      border-right: none; }
      .ch__application .select__container fieldset {
        width: 40%; }
        .ch__application .select__container fieldset label {
          font-size: 6vmin; }
        .ch__application .select__container fieldset .select__wrapper select {
          font-size: 5.5vmin; }
      .ch__application .select__container .submit {
        font-size: 6.5vmin; }
    .ch__application .product__container {
      display: none;
      position: fixed;
      width: 100vw;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 1s linear;
      height: 62%; }
      .ch__application .product__container .close__cross {
        display: block; }
      .ch__application .product__container .product__display {
        width: 65%; } }

@media all and (orientation: portrait) and (min-width: 600px) and (max-width: 1025px) {
  .ch__application {
    height: 75vh; } }

@media all and (orientation: landscape) and (min-width: 499px) and (max-width: 1025px) {
  .ch__application .product__container {
    height: 100%; }
    .ch__application .product__container .product__display {
      width: 60%; } }

@media all and (orientation: portrait) and (max-width: 500px) {
  .ch__application {
    height: 125vh; }
    .ch__application .select__container .submit {
      margin: 7% 0 7%; }
    .ch__application .product__container {
      height: 50%; }
      .ch__application .product__container .product__display {
        height: 60%; } }
