@media all and (orientation: portrait) {
  .arrow__select {
    top: 6%;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .ch__application {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .ch__application .select__container {
      -webkit-flex: .7 1;
          -ms-flex: .7 1;
              flex: .7 1;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      border-top: none;
      border-right: none; }
      .ch__application .select__container fieldset {
        width: 40%; }
        .ch__application .select__container fieldset label {
          font-size: 4vmin; }
        .ch__application .select__container fieldset .select__wrapper select {
          font-size: 4.5vmin; }
      .ch__application .select__container .submit {
        font-size: 5vmin; }
    .ch__application .product__container {
      -webkit-flex: 1 .7;
          -ms-flex: 1 .7;
              flex: 1 .7;
      height: 62%; }
      .ch__application .product__container .product__display {
        width: 80%; } }
