@function side($length) {
  $result: $length / 1.414;
  @return $result;
}

@mixin product-params {
  display:none;
  position:fixed;
  width:100vw;
  top:0;
  left:0;
  opacity: 0;
  transition:all 1s linear;
}
@media all and (max-width:768px) {
  .description__section {
    .computer__anim {
      display: none;
    }
    .container__description {
      width: side(147vmin);
      height:side(143vmin);
      .product__description {
        .product__details {
          font-size: 7vmin;
          .details__scroll{
            font-size: 7.5vmin;
          }
        }
      }
    }
  }
}
@media all and (orientation:landscape) and (max-width:768px) {
  .arrow__description {
    display:none;
  }
  .description__section {
    .container__description {
      height:side(147vmin);
    }
  }
}


// Application section
@media all and (max-width:500px) {
  .ch__application {
    height: 175vh;
    flex-direction:column;
    .choose-options {
      display: block;
    }
    .select__container {
      justify-content: space-around;
      border-right:none;
      fieldset {
        width: 70%;
        label {
          font-size: 7vmin;
          display:block;
          padding-top:3vmin;
        }
        .select__wrapper {
          select{
            font-size: 7.5vmin;
          }
        }
      }
      .submit {
        font-size: 8.5vmin;
        letter-spacing: 3px;
      }
    }
    .product__container {
        @include product-params;
        height:100vh;
      .close__cross {
        display: block;
      }
      .product__display {
        width:65%;
      }
    }
  }
}

@media all and (min-width:499px) and (max-width:1025px)  {
  .ch__application {
    flex-direction:column;
    .choose-options {
      display: block;
    }
    .select__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      border-right:none;
      fieldset {
        width: 40%;
        label {
          font-size: 6vmin;
        }
        .select__wrapper {
          select{
            font-size: 5.5vmin;
          }
        }
      }
      .submit {
        font-size: 6.5vmin;
      }
    }
    .product__container {
      @include product-params;
      height:62%;
      .close__cross {
        display: block;
      }
      .product__display {
        width:65%;
      }
    }
  }
}

@media all and (orientation:portrait) and (min-width:600px) and (max-width:1025px) {
  .ch__application {
    height:75vh;
  }
}
@media all and (orientation:landscape) and (min-width:499px) and (max-width:1025px) {
  .ch__application {
    .product__container {
      height:100%;
      .product__display {
        width:60%;
      }
    }
  }
}
@media all and (orientation:portrait) and (max-width:500px) {
  .ch__application {
    height:125vh;
    .select__container {
      .submit {
        margin:7% 0 7%;
      }
    }
    .product__container {
      height:50%;
      .product__display {
        height: 60%;
      }
    }
  }
}
