@function side($length) {
  $result: $length / 1.414;
  @return $result;
}

@media all and (max-width:767px) {

  .arrow__select {
    transform:rotate(180deg);
    top:6%;
  }

  .description__section {
    .container__description {
      width: side(132vmin);
      height:side(132vmin);
      .product__description {
        .product__details {
          font-size: 6.5vmin;
          .details__scroll{
            font-size: 7vmin;
          }
        }
      }
    }
  }

  .ch__application {
    height: 270vh;
    flex-direction:column;
    .select__container {
      justify-content: space-around;
      border-top:none;
      border-right:none;
      fieldset {
        width: 70%;
        label {
          font-size: 7vmin;
          display:block;
          padding-top:3vmin;
        }
        .select__wrapper {
          select{
            font-size: 7.5vmin;
          }
        }
      }
      .submit {
        font-size: 8.5vmin;
        letter-spacing: 3px;
      }
    }
    .product__container {
      // display:none;
      // position:fixed;
      // width:100vw;
      // height:200vh;
      // top:33%;
      // left:0;
      flex:1 .7;
      height:62%;
      .product__display {
        width:80%;
      }
    }
  }
}

@media all and (min-width:768px) and (max-width:1025px)  {
  .arrow__select {
    transform:rotate(180deg);
  }

  .ch__application {
    height: 220vh;
    flex-direction:column;
    .select__container {
      flex:.6 1;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      border-top:none;
      border-right:none;
      fieldset {
        width: 40%;
        label {
          font-size: 6vmin;
        }
        .select__wrapper {
          select{
            font-size: 5.5vmin;
          }
        }
      }
      .submit {
        font-size: 6vmin;
      }
    }
    .product__container {
      flex:1 .5;
      height:62%;
      .product__display {
        width:80%;
      }
    }
  }
}

@media all and (orientation:portrait) and (min-width:600px) and (max-width:1025px) {
  .ch__application {
    height:125vh;
    .product__container {
      flex:.8 .5;
    }
  }
}
@media all and (orientation:portrait) and (max-width:500px) {
  .ch__application {
    height:160vh;
    .select__container {
      flex:2.5;
      .submit {
        margin:7% 0 7%;
      }
    }
    .product__container {
      flex:1.5;
      height:50%;
      .product__display {
        height: 60%;
      }
    }
  }
}
