$blue:rgb(50, 98, 249);
$pink:rgb(232, 128, 224);
$gray:rgb(40,40,40);

html, body {
  overflow-x: hidden;
}


.centering {
	top:50%;
	left:50%;
	transform:translateY(-50%) translateX(-50%);
}

.visibility {
	display: none;
}
.hidden {
  width:0;
  height: 0;
  white-space: nowrap;
  color:transparent;
}

a {
	text-decoration: none;
	color:inherit;
}

.arrow {
  width:0.75em;
  height:2em;
  background:$gray;
  position: absolute;
  left:50%;
  margin: 2em -0.375em;
  opacity:1;

  &::after {
    content:"";
    display: block;
    position: absolute;
    bottom:-0.85em;
    left:-0.625em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1em 1em 0 1em;
    border-color: $gray transparent transparent transparent;
  }
}

.arrow__select {
  top:30%;
  transform:rotate(90deg);
  background:$gray;
}

.arrow__description {
  background:$gray;
  top:103%;
  background:rgb(180,125,125);
  &::after {
    border-color: rgb(180,125,125) transparent transparent transparent;
  }
}

//Title and menu section

.title__section {
  height: 100vh;
	background: url(../pic/computer-title.jpg);
	background-size:cover;
	background-attachment: fixed;


	.menu__pic {
		display: block;
		position: absolute;
		cursor:pointer;
	}
	.menu__pic-hamburger {
		width: 30vmin;
		height: 30vmin;
		z-index: 3;
	}
	.menu__pic-arrow {
		width: 20vmin;
		height: 20vmin;
		opacity: 0;
	}


  .title__wrapper {
    width:inherit;
  	height:inherit;
		position: relative;
    background: rgba(30,30,30,.97);
		overflow: hidden;
		font-family: 'Ruslan Display', cursive;
		opacity:.7;

		animation: opac 2s;
		animation-fill-mode: forwards;

		.menu__items-left {
			left:0;
			top:-75%;
		}
		.menu__items-right {
			right:0;
			top:75%;
		}

		.menu__items {
			width:50%;
			height: 100vh;
			font-size:9vmin;
			position: absolute;
			z-index: 1;

			.menu__words {
				position: absolute;
			}
			.menu__words-left {
				top: 85%;
				left:7%;
			}
			.menu__words-why {
				top: 15%;
				left:8%;
			}
			.menu__words-right {
				top:10%;
				right:7%;
			}
			.menu__words-try {
				top:80%;
				right:8%;
			}
			.menu__words-blue {
				color:$blue;
			}
			.menu__words-pink {
				color:$pink;
				text-align: center;
			}
		}


  }
}



// Description section

@function side($length) {
	$result: $length / 1.414;
	@return $result;
}

.description__section {
  height:100vh;
  overflow: hidden;
	background:rgba(40,40,40,.97);
	position: relative;
	display: flex;
	&:hover .computer__anim-one{
		animation: computer__anim-one 8s linear;
		animation-fill-mode: forwards;
	}
	&:hover .computer__anim-two{
		animation: computer__anim-two 8s linear;
		animation-fill-mode: forwards;
	}

	.computer__anim {
		width:20vmin;
		height: 20vmin;
		position: absolute;
	}
	.computer__anim-one {
		top:10%;
		left:10%
	}
	.computer__anim-two {
		bottom:10%;
		right:10%
	}

	.container__description {
		width: side(100vmin);
		height:side(100vmin);
		margin: auto;
		background: rgba(3, 91, 134, .5);
		transform:rotate(45deg);
		display: flex;
		border:5px solid rgba(40,40,40,.9);
		box-sizing: border-box;

		.product__description {
			width:70.7%;
			height: 74.7%;
			text-align: center;
			transform:rotate(-45deg);
			margin: auto;
			color:rgba(255, 255, 250, .5);
			box-sizing: border-box;

			.product__details {
				font-family: 'Archivo Narrow', sans-serif;
				font-size: 4.7vmin;
				text-indent: 5%;
        .details__scroll {
          color:rgb(180,125,125);
          font-size: 5.1vmin;
          font-weight: bold;
        }
			}
			.product__details:first-of-type {
				padding-bottom:4%;
			}
		}
	}
}

// Computers hunter application

.ch__application {
	display: flex;
	flex-direction: row;
  height: 100vh;
  font-family: 'Ruslan Display', cursive;
  .choose-options {
    display: none;
    text-align: center;
    color:rgb(180,125,125);
    font-size: 8.5vmin;
    padding: 5.5vmin 0 2.5vmin;
    border-top:5px solid lighten($gray,10%);
    box-sizing:border-box;
    background:rgba(40, 40, 40, 0.97);
  }

	.select__container {
		flex:1 2;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		border-top:5px solid lighten($gray,10%);
		border-right:5px solid lighten($gray,10%);
		box-sizing: border-box;
		color: rgba(255, 255, 220, .5);
    background:linear-gradient(45deg, darken($gray, 7%), lighten($gray, 7%));
		fieldset {
			width:78%;
			position: relative;
			label {
				font-size: 3.3vmin;
        letter-spacing: 5px;
				color:rgba(255, 255, 220, .8);
			}
			.select__wrapper {
				position: relative;
				padding-top: 2%;
				select {
					width:100%;
					font-family: inherit;
					background: rgba($gray,.7);
					color:inherit;
					font-size: 3vmin;
					border:2px solid rgba(0,0,0,.8);
					cursor:pointer;
					option {
						padding:1%;
					}
				}
			}

		}
		.submit {
			font-family: inherit;
			background: rgba(10,10,10,.7);
			border:none;
			color:rgb(180,125,125);
			font-size: 3.4vmin;
			padding:2% 7%;
      border:2px solid rgba(3, 91, 134, 0.5);
      cursor:pointer;
		}
	}


	.product__container {
		flex:3.5 1;
		height: 100vh;
		display: flex;
    z-index: 5;
		background:
			repeating-linear-gradient(
				-45deg,
				rgba($gray,.9),
				rgba($gray,.9) 140px,
				rgba($gray,.7) 0,
				rgba($gray,.7) 280px
			),
			repeating-linear-gradient(
			45deg,
			rgba($gray,.9),
			rgba($gray,.9) 140px,
			rgba($gray,.7) 0,
			rgba($gray,.7) 280px
		);
	}
    .close__cross {
      display:none;
      font-size: 10vmin;
      color:rgba($pink,.8);
      padding:1% 3%;
      background:lighten($gray, 20%);
      position: absolute;
      top:0;
      right:0;
      cursor:pointer;
    }
		.product__display {
			width:70%;
			height:63%;
			margin:auto;
			background: lighten($gray, 20%);
			position: relative;

			.product__loader {
				position: absolute;
				display:flex;
				top:0;
				left:0;
				width: 100%;
				height: 100%;
				background: $gray;
				opacity:0;


					@for $i from 2 through 4 {
						.rectangle__color:nth-child(#{$i}) {
							animation-delay: $i * 0.33s;
						}
					}

					.rectangle__color {
						width:10vmin;
						height: 10vmin;
						background:$blue;
						position: absolute;
						transform:rotate(45deg);
						box-shadow: 1px 1px 3px white, -1px -1px 3px white;
						display:flex;
						animation: loaders_elements 2s linear infinite;

						.rectangle__dark {
							height:55%;
							width: 55%;
							background: $gray;
							margin:auto;
						}
						&:nth-child(even) {
							background:$pink;
						}
						&:nth-child(1) {
							top: 20%;
							left:calc(50% - 5vmin);
						}
						&:nth-child(2) {
							top: calc(50% - 5vmin);
							right:22%;
						}
						&:nth-child(3) {
							bottom: 20%;
							left:calc(50% - 5vmin);
						}
						&:nth-child(4) {
							top: calc(50% - 5vmin);
							left:22%;
						}

					}

			}


			.display__elems {
        display:flex;
        align-items: center;
        justify-content: center;
        width:100%;
        height: 100%;
        .options__alert {
          width:80%;
          height: 35%;
          text-align: center;
          font-size: 7.5vmin;
        }
        .options__alert-gray {
          color:$gray;
          padding:27% 0 0;
        }
        .options__alert-rose {
          color:rgba($pink,.4);
          padding:15% 0 0;
        }
			}
			.display__elems-photo {
				max-width: 100%;
				box-shadow:  -3vmin -3vmin 0vmin 3vmin $gray, 3vmin 3vmin 0vmin 3vmin $gray;
			}
			.nonvisible {
				display:none;
			}
		}
}
